:root {
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-dark-blue: hsl(234, 12%, 34%);
    --clr-neutral-blue: hsl(229, 6%, 66%);
    --clr-neutral-gray: hsl(0, 0%, 98%);
    --clr-neutral-shadow: hsl(229, 6%, 86%);

    --ff: 'Poppins', sans-serif;

    --fs-m: 0.9375rem;
    --fs-xl: 1.5rem;
    --fs-l: 1.2rem;
    --fs-s: 0.8rem;
    --fs-xs: 0.65rem;

    --fw-s: 200;
    --fw-m: 400;
    --fw-l: 600;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff);
    text-align: center;
    padding: 2rem;
    color: var(--clr-neutral-blue);
}

h1 {
    font-weight: var(--fw-m);
}

h1, h2 {
    font-size: var(--fs-xl);
}

h2, h3 {
    color: var(--clr-neutral-dark-blue);
}

h3 {
    font-size: var(--fs-l);
}

main> p {
    padding: 2em 0;
}

.cards {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5em 1.5em var(--clr-neutral-shadow);
    border-radius: 0.5em;
    padding: 2em;
    align-items: flex-start;
    margin: 1.75em 0;
}

.cards> p {
    font-size: var(--fs-s);
}

img {
    align-self: flex-end;
}

.supervisor {
    border-top: .25em solid var(--clr-primary-cyan);
}

.team_builder {
    border-top: .25em solid var(--clr-primary-red);
}

.karma {
    border-top: .25em solid var(--clr-primary-orange);
}

.calculator {
    border-top: .25em solid var(--clr-primary-blue);
}

.attribution { 
    font-size: var(--fs-xs); 
    margin-bottom: 0.5em;
    text-align: center;
}

.attribution a {
    color: var(--clr-neutral-dark-blue); 
}
